:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /*color: #646cff;*/
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items:initial;
}

header{
  padding: 1rem;
  padding-top: 2rem;
  background-color: #646cff;
  color:white;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
a.header{
  color:rgb(209, 194, 194);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.5rem;
}
span.header{
  color:white;
}

div.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 1.2em;
  line-height: 1.1;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline-block;
  
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.botones{
  display: block;
  place-items:center;
  padding-top: 2rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.error{
  margin:1rem;
  padding: 1rem;
  background-color: darksalmon;
  color:white;
}
.exito{
  margin:1rem;
  padding: 1rem;
  background-color: rgb(52, 182, 19);
  color:white;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
div#resul{
  width: 60rem;
  
}
footer{
  padding-left: 2rem;
}
p.footer{
  font-weight: bold;
}
span.footer{
  color:#646cff;
}
.container-flex{
  display: flex;
  justify-content: space-around;
}
.formulario{
  padding: 1rem;
  flex:0 0 calc(50% - 1rem);

}
ul.pacientes{
  list-style-type: none;
}
.card{
  margin: 1rem;
  padding: 2em;
}
.editar,.eliminar{
  margin-bottom:1em;
}
.eliminar{
  color:white;
  background-color: red;
  border-color: red;
}
.eliminar:hover{
  background-color: rgb(209, 17, 17);
  border-color: rgb(209, 17, 17);
}
#registrar{
  margin-left: 1rem;
  margin-right: 1rem;
}
div.pacientes h2{
  padding-left: 3rem;
}
.cuerpo{
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding-left: 2rem;
}
#form-reset{
  padding-left: 2rem;
}